/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: rgb(187, 187, 187);
	background: rgb(42, 42, 42) none repeat scroll 0 0;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #ababab;
}

h3 {
	border-bottom-color: #323232;
	color: #c2c2c2;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #323232;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #888888; }
a:hover	{ color: #1163d3; }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #FFFFFF;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #FFFFFF;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #1163d3;
}

/* Post body links */
.postlink {
	border-bottom-color: #368AD2;
	color: #368AD2;
}

.postlink:visited {
	border-bottom-color: #5D8FBD;
	color: #5D8FBD;
}

.postlink:hover {
	background-color: #1163D2;
	color: #FFFFFF;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links  */
.arrow-left:hover, .arrow-right:hover {
	color: #368AD2;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
    background-color: #1c1c1c;
	border-color: #E6E9ED;
}

.headerbar {
	color: #FFFFFF;
}

.forabg, .forumbg {
	background-color: #323232;
	background-image: none;
}

.navbar {
	background-color: #282828;
}

.panel {
	background-color: #2a2a2a;
	color: #ababab;
}

.post:target .content {
	color: #FFFFFF;
}

.post h3 a.first-unread,
.post:target h3 a {
	color: #FFFFFF;
}

.bg1, .bg2, .bg3 { background-color: #282828; }


table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #282828;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #282828;
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

.site_logo {
	background-image: url("./images/logo_cynthia.png");
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: none;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #000;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	color: #000;
}

table.table1 td {
	color: #919191;
}

table.table1 tbody td {
	border-top-color: #1163d1;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #747474;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #CCCCCC;
}

dl.details dd {
	color: #919191;
}

.sep {
	color: #1198D9;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, a:hover .icon.icon-green {
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red {
	color: #BC2A4D;
}

.icon.icon-orange, a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray {
	color: #777777;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray {
	color: #999999;
}

.icon.icon-black, a:hover .icon.icon-black {
	color: #333333;
}

.alert_close .icon:before {
	background-color: #FFFFFF;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #CCCCCC;
}

.jumpbox-cat-link {
/*	padding: 2px 8px;
	background-color: #0076b1;
	border-top-color: #0076B1; */
	color: #FFFFFF;
}

.jumpbox-cat-link:hover {
/*	background-color: #12A3EB;
	border-top-color: #12A3EB; */
	color: #FFFFFF;
}

.jumpbox-forum-link {
	background-color: #000000;
}

.jumpbox-forum-link:hover {
/*	background-color: #F6F4D0; */
}

.jumpbox .dropdown .pointer-inner {
	border-color: #000000 transparent;
}

.jumpbox-sub-link {
	background-color: #000000;
}

.jumpbox-sub-link:hover {
/*	background-color: #F1F8FF; */
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #000000;
}

li.reported:hover {
	border-color: #de1818 !important;
}

li.unapproved:hover {
	border-color: #016aec;
}

.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #0a0a0a;
	color: #ffffff;
}

p.post-notice, .postbody div.rules {
    background-color: #7c7c7c;
	color: #000000;
	margin-left: 10px;
	margin-right: 8px;
}	

.post-notice.reported a {
	color: #000000;
}

p.post-notice:before {
	background: none !important;
	content: "";
	font-family: FontAwesome;
	font-size: 1.4em;
	top: 5px;
	left: 5px;
	color: #FFF;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #3b3b3b;
}

ul.topiclist li {

}

ul.topiclist dd {
	border-left-color: #656565;
}

.rtl ul.topiclist dd {
	border-right-color: #656565;
	border-left-color: transparent;
}

li.row {
	border-top-color: #313131;
	border-bottom-color: #313131;
}

li.header dt, li.header dd {
	color: #FFFFFF;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #aeaeae;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #8f8f8f;
}

.content h2, .panel h2 {
	color: #828282;
	border-bottom-color: #CCCCCC;
}

dl.faq dt {
	color: #aeaeae;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color: #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #4c4c4c;
	border-color:#262626;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #464646;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #4c4c4c;
}

/* Code block */
.codebox {
	background-color: #151515;
	border-color: #0a34bb;
}

.codebox p {
	border-bottom-color: #052189;
}

.codebox code {
	color: #757575;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #181818;
	border-color: #6e6e6e;
}

.pm-message .attachbox {
	background-color: #181818;
}

.attachbox dd {
	border-top-color: #cccccc;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #363636;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #000;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
	border-color: #858585;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: #a0a0a0;
}

.online {
	background-image: url("./en/icon_user_online.gif");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	background-color: #1163d3;
	padding: 2px;
	color: #FFF;
	text-transform: uppercase;
}

.button:hover,
.button:focus {
	background-color: #09499e; /* Old browsers */ /* FF3.6+ */
	color: #CCCCCC !important;
}

.button .icon,
.button-secondary {
	color: #FFFFFF;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #8f8f8f;
}

.button-search:hover,
.button-search-end:hover {
/*	border-color: #C7C3BF; */
}

.caret	{ border-color: #DADADA; }
.caret	{ border-color: #C7C3BF; }

.contact-icons a		{ border-color: #343434; }
.contact-icons a:hover	{ background-color: #2b2b2b; }

/* Pagination
---------------------------------------- */

.pagination li a {
	color: #FFFFFF;
	background-color: #1D1D1D;
	filter: none;
	box-shadow: none;	
	border-color: #1163D2;
	font-weight: bold;
}

.pagination li.ellipsis span {
	background-color: transparent;
	color: #FFFFFF;
}

.pagination li.active span {
	color: #FFFFFF;
	background-color: #1163d3;
	border-color: #1163D2;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	color: #FFFFFF;
	background-color: #1163d3;
	filter: none;
	box-shadow: none;	
	border-color: #1163D2;
	font-weight: bold;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox {
	border-color: #000;
}

.search-header {
	box-shadow: 0 0 3px #1163d3;
}

.search-results li:hover,
.search-results li.active {
	background-color: #3d93f7;
}

/* Icon images
---------------------------------------- */

.contact-icon						{ background-image: url("./images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_googleplus-icon				{ background-position: -140px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.png"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread						{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read						{ background-image: url("./images/announce_read.png"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread					{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link							{ background-image: url("./images/forum_link.png"); }
.forum_read							{ background-image: url("./images/forum_read.png"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread						{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read						{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved						{ background-image: url("./images/topic_moved.png"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.png"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.png"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.png"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: #bbbbbb;
}

.panel-container .panel li.row {
	border-bottom-color: #000000;
	border-top-color: #000000;
}

ul.cplist {
	border-top-color: #B5C1CB;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #256CCC;
}

.panel-container table.table1 thead th {
	color: #747474;
	border-bottom-color: #333333;
}

.cp-main .pm-message {
	border-color: #256bca;
	background-color: #333333;
}

/* CP tabbed menu
----------------------------------------*/
#tabs .tab > a {
	background: #1163d3;
	color: #FFFFFF;
}

#tabs .tab > a:hover {
	background: #0c55b8;
	color: #cccccc;
}

#tabs .activetab > a,
#tabs .activetab > a:hover {
	background: #282828;
	color: #D31141;
}

#tabs .activetab > a:hover {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #1163d3;
	color: #FFF;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #181818;
	color: #d31141;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #FFF;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #FFF;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #d7d7d7;
	background-color: #1163d2;
}

.rtl .navigation a {
	background-color: #181818;
}

.navigation a:hover {
	color: #1163d2;
	background-color: #181818;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a {
	color: #1163d2;
	background-color: #181818;
}

.navigation .active-subsection a:hover {
	color: #1163d2;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #181818;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #888888;
}

.panel-container .panel {
	background-color: #181818;
}

.cp-main .pm {
	background-color: #181818;
}

/* Friends list */
.cp-mini {
	background-color: #161616;
}

dl.mini dt {
	color: #a5a5a5;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
.gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

.gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #1163d2;
	background-color: #252525;
	color: #959595;
}

label {
	color: #FFF;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #FFF;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #CCC;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #212121;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #bbb;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #212121; 
	border-color: #000000;
	color: #1163D3;
}

.inputbox:-moz-placeholder {
	color: #1163D3;
}

.inputbox::-webkit-input-placeholder {
	color: #1163D3;
}

.inputbox:hover {
	border-color: #1163d2;
}

.inputbox:focus {
	border-color: #1163d2;
	color: #cccccc;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
    color: #d5d5d5;
	background-color: #1163d2;	
}

a.button1, input.button1 {
	border-color: #2b2b2b;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #2b2b2b;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #2b2b2b;
	color: #FFF;
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #323232;
	color: #000;
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #111;
	border-color: #575757;
}
.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #484848;
	color: #000000;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #FFFFFF;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background: #1c1c1c;
}

.dropdown .pointer {
	border-color: #1163d3 transparent;
}

.dropdown .pointer-inner {
	border-color: #000 transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #1c1c1c transparent;
}

.dropdown .dropdown-contents {
	background: #000;
	border-color: #1163d3;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: #DCDCDC;
}

.dropdown li.separator {
	border-color: #DCDCDC;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #707070;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #D31141;
}

.badge {
	background-color: #D31141;
	color: #ffffff;
}
