#header-bd {
    background-image: url("{T_THEME_PATH}/images/logo.png");
	padding: 5px;
    color: #FFFFFF;
	height: 150px;
    /*border-bottom: 5px solid #1163D3; /*bottom border is 3px*/
	margin-bottom: 15px;
}

.menu-user {
    background: #1163D3;
	padding: 10px;
	height: 15px;
	margin-bottom: 15px;
    font-size: 13px;	
}

.menu-user a { color: #FFFFFF;}

.header-border {
   background: #212121;
   text-transform: uppercase;   
   min-height: 30px;
   padding: 10px 0 0 10px;
   text-align: left;
   overflow: hidden;
   *height: 30px;
}

.breadcrumb-bd {
    background: #212121;
	text-transform: uppercase;
	font-weight: bold;
    color: #FFFFFF;
    padding: 5px;
	margin-bottom: 15px;
}

.row1 {
	background-color: #212121;
}

.row2 {
	background-color: #232323;
}

.row1, .row2 {
	border-bottom: none !important; 
}

li.header dl.icon dt {
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-transform: none;
}

li.header dl.icon dt a {
	color: #ffffff;
}

dd.topics, dd.posts, dd.views {
	font-size: 14px;
	font-weight: bold;
}

li.header dd.topics, li.header dd.posts, li.header dd.lastpost, li.header dd.views {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-transform: none;
}

ul.topiclist li {
	font-size: 12px;
	color: #a5a4a4;
}

.right {float:right;}
.left {float:left;}

.underlinemenu{
    width: 48%; /* defined the width from the menu */
	float: right; /* Remove this line if you choose a width of 100% */
}

.underlinemenu ul{
    padding: 6px 0 7px 0; /*6px should equal top padding of "ul li a" below, 7px should equal bottom padding + bottom border of "ul li a" below*/
    margin: 0;
    text-align: right; /*set value to "left", "center", or "right"*/
}

.underlinemenu ul li{
    display: inline;
}

.underlinemenu ul li a{
    font-size: 1.5em;
    color: #939393;
    padding: 6px 3px 4px 3px; /*top padding is 6px, bottom padding is 4px*/
    margin-right: 20px; /*spacing between each menu link*/
    text-decoration: none;
    border-bottom: 3px solid #1163D3; /*bottom border is 3px*/
}

.underlinemenu ul li a:hover, .underlinemenu ul li a.selected{
    border-bottom-color: gray;
}

.hidden {
  display: none;
  visibility: hidden;
}

 