/* Former imageset */
span.imageset {
	display: inline-block !important;
	background: none;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}
.imageset:before {
	color: #f34733;
	display: block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: inherit;
	text-decoration: none;
	position: absolute;
	left: 0;
	top: 0;
}

/* Global imageset items */
.imageset.site_logo {
	background-image: url("./images/logo_cynthia.png");
	padding-left: 245px;
	padding-top: 110px;
}
.imageset.forum_link {
	background-image: url("./images/forum_link.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.forum_read {
	background-image: url("./images/forum_read.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.forum_read_locked {
	background-image: url("./images/forum_read_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.forum_read_subforum {
	background-image: url("./images/forum_read_subforum.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.forum_unread {
	background-image: url("./images/forum_unread.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.forum_unread_locked {
	background-image: url("./images/forum_unread_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.forum_unread_subforum {
	background-image: url("./images/forum_unread_subforum.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_moved {
	background-image: url("./images/topic_moved.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_read {
	background-image: url("./images/topic_read.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_read_mine {
	background-image: url("./images/topic_read_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_read_hot {
	background-image: url("./images/topic_read_hot.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_read_hot_mine {
	background-image: url("./images/topic_read_hot_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_read_locked {
	background-image: url("./images/topic_read_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_read_locked_mine {
	background-image: url("./images/topic_read_locked_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_unread {
	background-image: url("./images/topic_unread.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_unread_mine {
	background-image: url("./images/topic_unread_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_unread_hot {
	background-image: url("./images/topic_unread_hot.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_unread_hot_mine {
	background-image: url("./images/topic_unread_hot_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_unread_locked {
	background-image: url("./images/topic_unread_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.topic_unread_locked_mine {
	background-image: url("./images/topic_unread_locked_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.sticky_read {
	background-image: url("./images/sticky_read.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.sticky_read_mine {
	background-image: url("./images/sticky_read_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.sticky_read_locked {
	background-image: url("./images/sticky_read_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.sticky_read_locked_mine {
	background-image: url("./images/sticky_read_locked_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.sticky_unread {
	background-image: url("./images/sticky_unread.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.sticky_unread_mine {
	background-image: url("./images/sticky_unread_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.sticky_unread_locked {
	background-image: url("./images/sticky_unread_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.sticky_unread_locked_mine {
	background-image: url("./images/sticky_unread_locked_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.announce_read {
	background-image: url("./images/announce_read.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.announce_read_mine {
	background-image: url("./images/announce_read_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.announce_read_locked {
	background-image: url("./images/announce_read_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.announce_read_locked_mine {
	background-image: url("./images/announce_read_locked_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.announce_unread {
	background-image: url("./images/announce_unread.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.announce_unread_mine {
	background-image: url("./images/announce_unread_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.announce_unread_locked {
	background-image: url("./images/announce_unread_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.announce_unread_locked_mine {
	background-image: url("./images/announce_unread_locked_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.global_read {
	background-image: url("./images/announce_read.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.global_read_mine {
	background-image: url("./images/announce_read_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.global_read_locked {
	background-image: url("./images/announce_read_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.global_read_locked_mine {
	background-image: url("./images/announce_read_locked_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.global_unread {
	background-image: url("./images/announce_unread.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.global_unread_mine {
	background-image: url("./images/announce_unread_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.global_unread_locked {
	background-image: url("./images/announce_unread_locked.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.global_unread_locked_mine {
	background-image: url("./images/announce_unread_locked_mine.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.subforum_read {
	background-image: url("./images/subforum_read.png");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.subforum_unread {
	background-image: url("./images/subforum_unread.png");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.pm_read {
	background-image: url("./images/topic_read.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.pm_unread {
	background-image: url("./images/topic_unread.png");
	padding-left: 27px;
	padding-top: 27px;
}
.imageset.icon_back_top {
	background-image: url("./images/icon_back_top.png");
	padding-left: 11px;
	padding-top: 11px;
}
.imageset.phpbb_aol-icon, .imageset.icon_contact_aim {
	background-image: url("./images/icon_contact_aim.png");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_email {
	background-image: url("./images/icon_contact_email.png");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_icq, .imageset.phpbb_icq-icon {
	background-image: url("./images/icon_contact_icq.png");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_jabber {
	background-image: url("./images/icon_contact_jabber.png");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.phpbb_wlm-icon, .imageset.icon_contact_msnm {
	background-image: url("./images/icon_contact_msnm.png");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_www, .imageset.phpbb_website-icon {
	background-image: url("./images/icon_contact_www.png");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_yahoo, .imageset.phpbb_yahoo-icon {
	background-image: url("./images/icon_contact_yahoo.png");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_target {
	background-image: url("./images/icon_post_target.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_post_target_unread {
	background-image: url("./images/icon_post_target_unread.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_topic_attach {
	background-image: url("./images/icon_topic_attach.gif");
	padding-left: 7px;
	padding-top: 10px;
}
.imageset.icon_topic_latest {
	background-image: url("./images/icon_topic_latest.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_topic_newest {
	background-image: url("./images/icon_topic_newest.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_topic_reported {
	background-image: url("./images/icon_topic_reported.gif");
	padding-left: 16px;
	padding-top: 14px;
}
.imageset.icon_topic_deleted {
	background-image: url("./images/icon_topic_deleted.png");
	padding-left: 16px;
	padding-top: 14px;
}
.imageset.icon_topic_unapproved {
	background-image: url("./images/icon_topic_unapproved.gif");
	padding-left: 16px;
	padding-top: 14px;
}
.imageset.icon_topic_poll {
	background-image: url("./images/icon_topic_poll.gif");
	padding-left: 11px;
	padding-top: 10px;
}

.imageset.icon_contact,
.imageset.icon_topic_reported,
.imageset.icon_topic_unapproved,
.imageset.icon_topic_deleted {
	position: relative;
	background: none !important;
	padding: 15px 0 0 17px;
	text-align: center;
}

.imageset.icon_contact:before 			{ content: "\f0e5"; padding-left: 2px; padding-top: 1px; }
.imageset.icon_topic_reported:before 	{ content: "\f06a"; color: #FFF; padding-left: 3px; }
.imageset.icon_topic_unapproved:before 	{ content: "\f059"; color: #FFF; padding-left: 2px; }
.imageset.icon_topic_deleted:before 	{ content: "\f1b8"; color: #5CFF00; padding-left: 2px; }

/* English images for fallback */
.imageset.icon_user_online {
	background-image: url("./en/icon_user_online.gif");
	padding-left: 58px;
	padding-top: 58px;
}
